name: Benchmark

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Install Dependence
        run: go mod download

      - name: Run Benchmark
        run: |
          go test -bench=. -run=^$ -benchmem -v ./... > bench_output.txt
          cat bench_output.txt

      - run: mkdir -p "$HOME"/benchmark/artifact
      - run: touch "$HOME"/benchmark/artifact/result.txt
      - uses: actions/upload-artifact@v4
        with:
          name: benchmark-result
          path: "$HOME"/benchmark/artifact/result.txt