name: Benchmark

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'img/**'
      - 'README.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'img/**'
      - 'README.md'
  workflow_dispatch:

jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Install Dependence
        run: go mod download

      - name: Run Benchmark
        run: |
          GOMAXPROCS=4 go test -bench=. -run=^$ -benchmem -benchtime=3s -count=5 -timeout=30m -v ./... > bench_output.txt
          cat bench_output.txt

      - run: mkdir -p benchmark/artifact
      - run: touch benchmark/artifact/result.txt
      - uses: actions/upload-artifact@v6
        with:
          name: benchmark-result
          path: benchmark/artifact/result.txt