name: Test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'img/**'
      - 'README.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'img/**'
      - 'README.md'

jobs:
  test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Install Dependence
        run: go mod download

      - name: Run Tests
        run: go test -v -race -cover ./...